@*@model MercPlusClient.Areas.HSUDData.Models.HSUDDataModel*@

 
<link href="~/Areas/ManageMasterData/Style/MasterData.css" rel="stylesheet" />

<div id="gridposition" style="width: 100%;"> 
 
    
    
       @if (Model.Count > 0)
       {
           var grid1 = new WebGrid(Model.SearchResults, canPage: false, canSort: false, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");

            

                {
                @grid1.GetHtml(
                tableStyle: "webGrid",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid1.Columns(
                //grid1.Column("Equipment_ID", header: "Equipment ID"),
                grid1.Column("Equipment_ID", "Equipment ID", format: (item) => Html.ActionLink(((string)        item.Equipment_ID),"GetHSUDDetails", "HSUDData", new { area = "HSUDData", EquipmentNo = (string)@item.Equipment_ID ,EstimateNumber = (string)@item.Estimate_Number}, null)),
                                
                                
               // grid1.Column("Equipment_ID", header: "Equipment ID",format: @<text><a href="javascript:ShowEditModel('ManufactureModel','Manufacture Model Edit','@item.Equipment_ID' ,800,450,scroll);", style="color:blue; font-size:small;">item.Equipment_ID</a></text>, header: ""),
                grid1.Column("Equipment_Type", header: "Equipment Type"),
                grid1.Column("Estimate_Number", header: "Estiment Number"),
                grid1.Column("Estimate_Status", header: "Estimate Status"),
                grid1.Column("Estimate_Original_Date", header: "Est Original Date",format: (item) => string.Format("{0:yyyy-MM-dd}",item.Estimate_Original_Date)),
                grid1.Column("Approved_date", header: "Approved Date",format: (item) => string.Format("{0:yyyy-MM-dd}",item.Approved_date)),
                grid1.Column("Cancelled_Date", header: "Cancelled Date")
          
                //grid1.Column("EffDate", header: "Effective Date",format: (item) => string.Format("{0:yyyy-MM-dd}", item.)),
                //grid1.Column("ExpDate", header: "Expiration Date",format: (item) => string.Format("{0:yyyy-MM-dd}", item.ExpDate)),
                //grid1.Column("RegularRT", header: "Ordinary Rate" ,format: (item) => String.Format("{0:0.##}", item.RegularRT) ),
                //grid1.Column("OvertimeRT", header: "OT1 Rate", format: (item) => String.Format("{0:0.##}", item.OvertimeRT)),                 
                //grid1.Column("DoubleTimeRT", header: "OT2 Rate",format: (item) => String.Format("{0:0.##}", item.DoubleTimeRT)),
                //grid1.Column("MiscRT", header: "OT3 Rate",format: (item) => String.Format("{0:0.##}", item.MiscRT)),
               // grid1.Column(format: (item) => ( item.ExpDate>= System.DateTime.Now ? ( item.Shop.ShopActiveSW=="N"  ? Html.ActionLink("Edit", "LaborRateEdit", new { ContID = item.LaborRateID,  style="font-size:8px; color:blue;" }) : Html.Raw("")) : Html.Raw("")))
                
                //grid1.Column("Details", format: @<text><a href="javascript:ShowEditModel('ManufactureModel','Manufacture Model Edit','@item.ManufacturCd','@item.ModelNo','@item.IndicatorCd','@item.ChangeUser','@item.ChangeTime',800,450,scroll);", style="color:blue; font-size:small;">Details</a></text>, header: "")
           
                       //     grid1.Column("Delete", format: @<text><a href="javascript:DeleteModel('ManufactureModel','Manufacture Model Delete','@item.ManufacturCd','@item.ModelNo' ,800,450,scroll);", style="color:blue; font-size:small;">Delete</a></text>, header: "")
          )
           )
              
                                                                                                                                                                                                                                                             
                                                                                                                                                                                                                                                             
}
             

        }
           
           
           
    else
       {
          // var errMsg = "**** NO RECORDS FOUND MATCHING SEARCH CRITERIA ****"
               //ShowRemoveValidationMessage(errMsg, "Result");
            @Html.Label("#ErrorMsgContainer", "**NO DATA FOUND**", new { style = "width: 750px; vertical-align: text-top;" });
       }
    </div>

