@model MercPlusClient.Areas.ManageWorkOrder.Models.ReviewEstimatesModel

<link href="~/Areas/ManageWorkOrder/Style/WorkOrder.css" rel="stylesheet" />
<script src="~/Areas/ManageWorkOrder/Script/js_ReviewEstimates.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ReloadSearchData();
    });
</script>


@{
    ViewBag.Title = "ReviewEstimate";
    Layout = "~/Views/Shared/_MercPlusLayout.cshtml";
    
}
@using (Html.BeginForm())
{
    <div style="width: 90%" id="divMain">
        <table width="100%">
            <tr>
                <td colspan="8">
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; vertical-align: text-top;">

                        <tr>
                            <td style="vertical-align: top; text-align: right; margin-right: 0px; font-size: xx-small; font-size: 8px;">
                                @*@Html.ActionLink("Estimates Help File", "SecNewUser", "ManageUser")*@
                                <a href="~/HelpFiles/help/merc/3_HelpScrns_DoNotChangeStructure/mgrapproval1_help.htm" target="_blank"></a>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div id="ErrorMsgContainer" style="width: 750px; vertical-align: text-top;">
                        @Html.Raw(TempData["Msg"] != null ? TempData["Msg"].ToString() : "")
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    @Html.Label("lblMessage", Model.ErrorMsg, new { style = "color: red; text-size:8px;" })
                </td>
            </tr>

            <tr>
                <td colspan="3">Shop
                <br />
                    @Html.DropDownList("lstShopList", Model.ShopList, new { style = "width:450px;" })
                </td>
                <td nowrap="nowrap" style="vertical-align: bottom; text-align: left;">Date From
                <br />
                    @Html.TextBox("txtFromDate", Model.DateFrom, new { style = "width:120px;", @readonly = true, @class = "CLSDTFROM" })
                </td>
                <td colspan="2" nowrap="nowrap" style="vertical-align: bottom;">Date To
                <br />
                    @Html.TextBox("txtToDate", Model.DateTo, new { style = "width:120px;", @readonly = true, @class = "CLSDTTO" })
                </td>
                <td></td>
                <td></td>
            </tr>


            <tr>
                <td>Customer
                <br />
                    @Html.DropDownList("lstCustList", Model.CustomerList, new { style = "width:100px;" })
                </td>
                <td>Equipment Size
                <br />
                    @Html.DropDownList("lstEqpSizeList", Model.EqpSizeList, new { style = "width:100px;" })
                </td>
                <td>Equipment Type
                <br />
                    @Html.DropDownList("lstEqpTypeList", Model.EqpTypeList, new { style = "width:200px;" })
                </td>
                <td colspan="1">Equipment Sub-Type
                <br />
                    @Html.DropDownList("lstEqpSubTypeList", Model.EqpSubTypeList, new { style = "width:100px;" })
                </td>

                <td colspan="4" style="text-align: left;">Mode
                <br />
                    @Html.DropDownList("lstModeList", Model.ModeList, new { style = "width:300px;" })
                </td>
            </tr>


            <tr>
                <td nowrap="nowrap">Equipment No.
                <br />
                    @Html.TextBox("txtEqpNo", Model.EquipmentNo, new { style = "width:120px;" })
                </td>
                <td nowrap="nowrap">Vendor Ref No.
                  <br />
                    @Html.TextBox("txtVenRefNo", Model.VendorRefNo, new { style = "width:120px;" })
                </td>
                @if (((MercPlusClient.UserSec)System.Web.HttpContext.Current.Session["UserSec"]).isAdmin || ((MercPlusClient.UserSec)System.Web.HttpContext.Current.Session["UserSec"]).isCPH || ((MercPlusClient.UserSec)System.Web.HttpContext.Current.Session["UserSec"]).isEMRSpecialistCountry || ((MercPlusClient.UserSec)System.Web.HttpContext.Current.Session["UserSec"]).isEMRApproverShop)
                {
                    <td style="display: block;" colspan="2">
                        <div id="divCoclCountry">
                            <table>
                                <tr>

                                    <td>COCL
                                    <br />
                                        @Html.TextBox("txtCOCL", Model.COCL, new { style = "width:110px;" })
                                    </td>
                                    <td>Country
                                    <br />
                                        @Html.TextBox("txtCountry", Model.Country, new { style = "width:110px;" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>  
                }
                else
                {
                    <td colspan="2" style="display: none;"></td>
                }

                <td>Location
                   <br />
                    @Html.TextBox("txtLocation", Model.Location, new { style = "width:120px;" })
                </td>
                <td>Query Type
                <br />
                    @Html.DropDownList("lstQueryTypeList", Model.QueryTypeList, new { style = "width:160px;" })
                </td>
                <td>Sort by
                <br />
                    @Html.DropDownList("lstSortList", Model.SortList, new { style = "width:160px;" })
                </td>
                <td style="text-align: left; vertical-align: bottom;">
                    <button id="search" style="background-color: white;">Query</button>
                    @*<input type="button" id="btnSearch" value="Query" style="display:block;" name="btnSearch"  /> *@
                </td>
            </tr>



            <tr>
                <td colspan="8" style="width: 100%;">
                    @Html.Hidden("hdnSearchRes", "")
                    <div id="gridContent">                     
                    </div>


                </td>
            </tr>

            <tr>
                <td colspan="8">

                    @Html.Label("lbl", new { id = "lblErrorMesage", style = "color: red; text-size:12px; display: none;" })
                    <br />
                    <p style="text-align: center;">
                        <h3>@Html.Label("lbl", new { id = "lblMesage", style = "display: none;" }) </h3>
                    </p>
                </td>
            </tr>

        </table>


    </div>
    <div>@Html.Hidden("hdSession", ((MercPlusClient.UserSec)System.Web.HttpContext.Current.Session["UserSec"]).UserType)</div>
}


