@model MercPlusClient.Areas.ManageMasterData.Models.ManageMasterDataModel

@{
    if (Model.IsUpdate)
    {
        ViewBag.Title = "EditPayAgent";
    }
    else
    {
        ViewBag.Title = "CreatePayAgent";
    }
    Layout = "~/Views/Shared/_MercPlusLayout.cshtml";
}
@*<script src="../../Scripts/jquery-1.4.1-vsdoc.js" type="text/javascript"></script>*@
<script type="text/javascript">
    $(function () {
        $("#drpRRISCodesList").change(function () {
            var c = $(this).val();
            // var a = JSON.stringify({ customerId: $(this).val() };
            $.ajax({
                url: "/ManageMasterData/ManageMasterData/GetAllDetails",
                type: 'POST',
                data: { id: c },
                cache: false,
                success: function (data) {
                    $("#txtPayAgentProfitCenter").val(data.ProfitCenter);
                    $("#txtCorporateProfitCenter").val(data.ProfitCenter);
                    $("#txtCorporatePayAgentCode").val(data.CorpPayAgentCode);
                    $("#txtChangeUserName").val(data.ChangeUser);
                    $("#txtChangeTime").val(data.ChangeTime);
                    $('#drpRRISFormatList').val(data.RRISFormat);

                },
                error: function (data) {

                }
            });
        });
    });
</script>

@using (Html.BeginForm())
{
    <h2>Add, Update or Delete Pay Agent</h2>
    <a href="~/HelpFiles/reportframes.htm">Tables and Dependencies Help File</a>
    <table border="0" cellpadding="5" cellspacing="0"
        style="width: 700px; vertical-align: text-top;">
        @if (Model.IsUpdate)
        {
            <tr>
                <td class="style3" style="text-align: right; vertical-align: top;">
                    @Html.LabelFor(model => model.RRISCode)
                </td>
                <td class="style2" style="text-align: left; vertical-align: top;">
                    @Html.DropDownListFor(model => model.RRISCode, Model.drpRRISCodesList, "Select RRIS Codes List", new { id = "drpRRISCodesList" })
                </td>
                <td style="text-align: left; vertical-align: top; width: 200px;">&nbsp;
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td style="text-align: right; vertical-align: top;" class="style3">@Html.LabelFor(model => model.RRISCode)</td>
                <td style="text-align: left; vertical-align: top;" class="style2">@Html.TextBoxFor(model => model.RRISCode)</td>
                <td style="text-align: left; vertical-align: top; width: 200px;">&nbsp;</td>
            </tr> 
        }
        <tr>
            <td class="style3" style="text-align: right; vertical-align: top;">
                @Html.LabelFor(model => model.RRISFormat)
            </td>
            <td class="style2" style="text-align: left; vertical-align: top;">
                @Html.DropDownListFor(model => model.RRISFormat, Model.drpRRISFormat, "Select RRIS Format", new { id = "drpRRISFormatList" })
            </td>
            <td style="text-align: left; vertical-align: top; width: 200px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="style3" style="text-align: right; vertical-align: top;">
                @Html.LabelFor(model => model.CorporateProfitCenter)
            </td>
            <td class="style2" style="text-align: left; vertical-align: top;">
                @Html.TextBoxFor(model => model.CorporateProfitCenter, new { id = "txtCorporateProfitCenter" })
            </td>
            <td style="text-align: left; vertical-align: top; width: 200px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="style3" style="text-align: right; vertical-align: top;">
                @Html.LabelFor(model => model.CorporatePayAgentCode)
            </td>
            <td class="style2" style="text-align: left; vertical-align: top;">
                @Html.TextBoxFor(model => model.CorporatePayAgentCode, new { id = "txtCorporatePayAgentCode" })
            </td>
            <td style="text-align: left; vertical-align: top; width: 200px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="style3" style="text-align: right; vertical-align: top;">
                @Html.LabelFor(model => model.PayAgentProfitCenter)
            </td>
            <td class="style2" style="text-align: left; vertical-align: top;">
                @Html.TextBoxFor(model => model.PayAgentProfitCenter, new { id = "txtPayAgentProfitCenter" })
            </td>
            <td style="text-align: left; vertical-align: top; width: 200px;">&nbsp;</td>
        </tr>

        @if (Model.IsUpdate)
        {
            <tr>
                <td class="style3" style="text-align: right; vertical-align: top;">
                    @Html.LabelFor(model => model.ChangeUserName)
                </td>
                <td class="style2" style="text-align: left; vertical-align: top;">
                    @Html.TextBoxFor(model => model.ChangeUserName, new { id = "txtChangeUserName" })
                    @Html.TextBox("txtChangeUserName2")
                </td>
                <td style="text-align: left; vertical-align: top; width: 200px;">&nbsp;</td>
            </tr>
            <tr>
                <td class="style3" style="text-align: right; vertical-align: top;">
                    @Html.LabelFor(model => model.ChangeTime)
                </td>
                <td class="style2" style="text-align: left; vertical-align: top;">
                    @Html.TextBoxFor(model => model.ChangeTime, new { id = "txtChangeTime" })
                </td>
                <td style="text-align: left; vertical-align: top; width: 200px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: right; vertical-align: top; width: 200px;">
                    <input type="submit" value="Update" formaction="/ManageMasterData/ManageMasterData/UpdatePayAgent"/>
                </td>
                <td style="text-align: left; vertical-align: top; width: 120px;">
                    <input type="submit" value="Delete" name="action" />
                </td>
                <td style="text-align: left; vertical-align: top; width: 240px;">
                   @* <input type="button" value="Add New" 
                        onclick="location.href = ''@Url.Action("CreatePayAgent", "ManageMasterData")   ''"/>*@

                     <input type="submit" value="Add New" formaction="/ManageMasterData/ManageMasterData/PayAgentCreate"/>
                </td>
                <td style="text-align: left; vertical-align: top; width: 190px;"></td>
            </tr>
        }
        else
        {
            <tr>
                <td style="text-align: right; vertical-align: top; width: 200px;">
                    <input type="submit" value="Add new Record" name="action" /></td>
                <td style="text-align: left; vertical-align: top; width: 120px;">
                   @* <input type = "button" value = "Return to Update" onclick="location.href = ''@Url.Action("EditPayAgent", "ManageMasterData", new { area = "ManageMasterData" }, null)    ''" />*@

                     <input type = "submit" value = "Return to Update" formaction="/ManageMasterData/ManageMasterData/EditPayAgent"/>
                </td>
                <td style="text-align: left; vertical-align: top; width: 190px;">&nbsp;</td>
            </tr> 
        }
    </table>
}

